version: "3.1"
services:
   app:
     build: ./php
     depends_on:
       - mysql
     env_file: "mysql_config.env"
     links:
       - mysql
     ports:
       - 8888:80
     restart: always
     volumes:
       - ./php/sources:/var/www/html
       - ./php/images:/var/www/html/images

   mysql:
     image: mysql:8.0-debian
     # image: mysql:5.6.25
     command: --default-authentication-plugin=mysql_native_password --character-set-server=utf8 --collation-server=utf8_unicode_ci
     env_file: "mysql_config.env"
       # env_file content:
       #   MYSQL_ROOT_PASSWORD=
       #   MYSQL_DATABASE=
       #   MYSQL_USER=
       #   MYSQL_PASSWORD=
     ports:
       - 3306:3306
     volumes:
       - ./mysql/data:/var/lib/mysql

   adminer:
     image: adminer:latest
     environment:
       ADMINER_DEFAULT_SERVER: mysql_db_container
     restart: always
     ports:
       - 8080:8080
