version: "3.1"
services:
   app:
     build: ./php
     depends_on:
       - mysql
     env_file: "mysql_config.env"
     links:
       - mysql
     ports:
       - 8888:80
     restart: always
     volumes:
       - ./php/sources:/var/www/html
       - ./php/images:/var/www/html/images
     networks:
       thenet:
         ipv4_address: 172.20.1.10

   mysql:
     image: mysql:8.0-debian
     command: --default-authentication-plugin=mysql_native_password --character-set-server=utf8 --collation-server=utf8_unicode_ci
     env_file: "mysql_config.env"
       # env_file content:
       #   MYSQL_ROOT_PASSWORD=
       #   MYSQL_DATABASE=
       #   MYSQL_USER=
       #   MYSQL_PASSWORD=
     volumes:
       - ./mysql/data:/var/lib/mysql
     networks:
       thenet:
         ipv4_address: 172.20.1.11

   adminer:
     image: adminer:latest
     environment:
       ADMINER_DEFAULT_SERVER: mysql_db_container
     restart: always
     ports:
       - 8080:8080
     networks:
       thenet:
         ipv4_address: 172.20.1.12

networks:
  thenet:
    driver: bridge
    ipam:
     config:
       - subnet: 172.20.1.0/24
